@import "./src/utils/variables";
@import "./src/utils/breakpoints";

.products_box {
    margin-top: $spacing-xxl;
    @include mobile {
        margin-top: $spacing-lg;
     }
    &_title {
        margin-bottom: $spacing-sm;
    }
}

.products { 
    margin: 100px 0;
    @include mobile {
        margin: $spacing-lg 0;
     }
    .product {
        padding: 10px;
    }    
}

