@import '../../utils/variables';

.achievement {
    margin-top: 200px;
    .achievement_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 20px;
        margin-top: $spacing-sm;
        background-color: $color-column;
        padding: $spacing-lg 0;
    
        &_first,
        &_second,
        &_third {
            display: flex;
            flex-direction: column;
            gap: 50px;
            &_img {
                color: white !important;
                width: 100px;
                height: 100px;
            }
        }
    }
}

.icon {
    height: 100px;
}