@import '../../utils/breakpoints';

.achievement {
    margin-top: 200px;
    margin-bottom: $spacing-xxl;
    &_title,
    &_text {
        @include mobile {
            font-size: 12px !important;
        }
    }
    @include mobile {
        margin-top: $spacing-xxl;
        margin-bottom: $spacing-md;
    }

    .achievement_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;
        text-align: center;
        gap: 20px;
        margin-top: $spacing-sm;
        background-color: $color-column;
        padding: $spacing-lg $spacing-sm;
        margin-top: $spacing-lg;
        @include mobile {
            padding: $spacing-md 7px;
            gap: 15px;
        }
    }
}

.icon {
    height: 100px;
    color: rgb(42, 42, 42);
    @include desktop {
        width: 80px;
        height: 80px;
    }
    @include tablet {
        width: 60px;
        height: 60px;
    }
    @include  mobile {
        width: 50px;
        height: 50px;
    }
}