
@import "../../../utils/variables";

.contact {
  display: flex;
  &-left-container {
    width: 60%;
    padding-top: 120px;
    padding-bottom: 40px;
    background: whitesmoke;
    margin-bottom: 120px;
  }
  &-right-container {
    width: 40%;
    background: url('../../../assets/contact.jpg');
    background-size: cover;
    height: 700px;
    right: 0;
    top: 2px;
  }
}
.main-contact {
  display: flex;
  justify-content: center;
  color: $color-text-dark;
  margin-bottom: $spacing-lg;
}
.second-contact{
  margin-bottom: $spacing-sm;
  color: $color-text-dark;
}

.contact_container {
  display: flex;
  justify-content: center;
  gap: 150px;
  max-width: 900px;
  margin: 0 auto;
  color: $color-text-dark;

  &_left {
    width: 50%;
    &_text {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .email_title,
    .name_title,
    .address_title {
      font-weight: 600;
      
    }
  }
  &_right {
    .information_flex {
      display: flex;
    }
    width: 50%;
    .nip_title,
    .regon_title,
    .mobile_title,
    .bank_title {
      font-weight: 600;
      margin-right: 10px;
    }

    &_text {
      display: flex;
      flex-direction: column;
      gap: 20px;
     
    }
  }
}
.map {
  margin: 100px;
}
