@import '../../utils/variables';

.catalog {
    margin: 0 320px;
    padding: 80px 0;
    background-color: $color-green;
    display: flex;
    gap: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &_container {
        margin: 0 50px;
    }
    &_title,
    &_text {
        color: $color-white;
    }
    &_text {
        padding: 0 15%;
    }
    &_btn {
        color: $color-green!important;
        border: 1px solid white !important;
        background-color: $color-white !important;
        &_text {
            font-size: 18px;
        }
    }
}