$main-color: #F0F1F1;
$numbers-color: #5E5322;
$hero-color: #FAD648;
$column-color: #737373;
$text-color: #3C3C3C;

$size-base-font: 14px;

$mobile-width: 767px;
$tablet-width: 1024px;
$desktop-width: 1489px;

$font-family: 'Open-Sans', sans-serif;




