$color-white: #ffffff;
$color-green: #004e63;
$color-green-light: #006e8c;
$color-column: #c4c4c4;
$color-text: #232323;

$size-base-font: 18px;

$mobile-width: 767px;
$tablet-width: 989px;
$desktop-width: 1489px;
$full-hd: 1920px;

$font-family: 'IBM-Plex-Sans', sans-serif;

$spacing-sm: 23px; 
$spacing-md: 46px;
$spacing-lg: 69px;
$spacing-xl: 92px;

@mixin base-width {
    max-width: $full-hd;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: $desktop-width) {
        & {
            margin-left: 7vw;
            margin-right: 7vw;
        }
    }
    @media only screen and (max-width: 1300px) {
        & {
            margin-left: 3vw;
            margin-right: 3vw;
        }
    }
    @media only screen and (max-width: 1100px) {
        & {
            margin-left: 1vw;
            margin-right: 1vw;
        }
    }
    @media only screen and (max-width: $mobile-width) {
        & {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            padding: 0 $spacing-sm;
        }
    }
}
