@import "utils/breakpoints";
@import "utils/variables";
@import "utils/normalize";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: $font-family;
  // color: $color-white;
  font-size: $size-base-font;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1920px;
$min_font: 10px;
$max_font: 40px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
body {
  @include mobile {
    margin-bottom: 3rem;
  }
  max-width: $full-hd;
  margin: 0 auto;
  .general-container {
    @include base-width()
  }
}
a {
  text-decoration: none;
  color: unset;
  display: flex;
}
h2 {
  font-size: 48px;
  color: $color-text;
}
h3 {
  font-size: 30px;
  color: $color-text;
  font-weight: 300;
}
h4 {
  font-size: 20px;
  color: $color-text;
  font-weight: 300;
}


button{
  border: none;

}

li {
  list-style: none;
}
.defer-image {
  display: block;
  width: 100%;
}
/* Image aspect ratios - % is relative to width. */
.image-ratio\:200   .img { padding-top: 200%; }
.image-ratio\:190  .img { padding-top: 190%; }
.image-ratio\:180  .img { padding-top: 180%; }
.image-ratio\:160  .img { padding-top: 160%; }
.image-ratio\:150   .img { padding-top: 150%; }
.image-ratio\:133   .img { padding-top: 133%; }
.image-ratio\:100   .img { padding-top: 100%; }
.image-ratio\:75   .img { padding-top: 75%; }
.image-ratio\:67   .img { padding-top: 67%; }
.image-ratio\:61  .img { padding-top: 61%; }
.image-ratio\:56  .img { padding-top: 56%; }
.image-ratio\:54  .img { padding-top: 54%; }
.image-ratio\:50   .img { padding-top: 50%; }
.image-ratio\:25   .img { padding-top: 25%; }

.defer-image.is-added,
.defer-image.is-loading {
  position: relative;
  background: transparent;

  // &:after {
  //     content: " ";
  //     display: block;
  //     width: 50px; height: 50px;
  //     left: 50%;
  //     top: 50%;
  //     margin-left: -25px;
  //     margin-top: -25px;
  //     background: url('@{root-url}/img/image-loader.gif') no-repeat;
  //     background-size: contain;
  //     position: absolute;

  // }
}

// .home {
//   max-width: 2200px;
//   margin: 0 auto;
// }

@include desktop {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 22px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  p {
    font-size: 20px !important;
  }

}
@include tablet {
  h2 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 16px !important;
  }
    h4 {
    font-size: 14px !important;
  }
  p {
    font-size: 16px !important;
  }
  li {
    font-size: 14px !important;
  }
}
@include mobile {
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 14px !important;
  }
    h4 {
    font-size: 14px !important;
  }
  p {
    font-size: 13px !important;
  }
  li {
    font-size: 13px !important;
  }
}