@import "/src/utils/variables";
@import "/src/utils/breakpoints";

.products_main {
    background-color: $color-primary;
    &_container {
        display: flex;
        flex-direction: column;
        padding: $spacing-xl 0;
        gap: $spacing-md;
        width: 60%;
        &_title {
            color: white;
        }
        &_text {
            color: white;
        }
    }
}
.products_main_products {
    margin: $spacing-xl;
    &_title {
        margin: $spacing-md 0;
    }
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: $spacing-sm;
        @include tablet {
            grid-template-columns: 1fr 1fr; 
        }
        @include mobile {
            grid-template-columns: 1fr;
        }
        &_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: $spacing-sm;
            width: 100%;
            background-color: $color-column;
            padding: $spacing-md $spacing-sm;
            cursor: pointer;
            transition: transform 0.3s;
            &:hover {
                transform: translateY(-40px);
            }
        }
    }
    .information {
        margin: $spacing-xl 0;
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
        &_list {
            margin-left: $spacing-md;
            margin-top: $spacing-md;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
}