@import "/src/utils/variables";
@import "/src/utils/breakpoints";

.nav_menu {
    &_first_column {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-lg;
        background-color: $color-white;
        height: 30px;
        color: $color-text;
        .first_container {
            display: flex;
            align-items: center;
            gap: 10px;
            overflow:hidden;
            width: 100%;

            &_text {
                font-size: 14px;
                white-space:nowrap;
                animation:przesun 20s linear infinite;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                gap: 10px;
            }
            &_icon {
                padding-left: 50px;
            }
        }
        .second_container {
            display: flex;
            align-items: center;
            gap: 10px;
            &_text {
                font-size: 12px;
            }
             &_icon {
                font-size: 12px;
            }
        }
    }
    &_second_column {
        display: grid;
        grid-template-columns: 1fr 6fr;
        height: 100px;
        background-color: $color-white;
        border-top: 1px solid rgb(198, 198, 198);
        border-bottom: 1px solid rgb(198, 198, 198);
        color: $color-text;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        
        &_logo {
            display: flex;
            align-items: center;
            padding-left: $spacing-sm;
            &::before {
                content: '';
                background: url('../../assets/nobistal.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 120px;
                height: 65px;
                cursor: pointer;
            }
            @include mobile {
                justify-content: flex-end;
                padding-right: $spacing-lg;
              
            }
        }
        &_menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $spacing-md;
            padding-right: $spacing-xl;
            @include mobile {
                display: none;
            }
            @include full-hd {
                padding-right: 180px;
            }
            @include desktop {
                padding-right: 140px;
            }
            @include tablet {
                padding-right: 100px;
            }
            
            
            &_link a {
                font-size: 24px;
                position: relative;
                @include desktop {
                    font-size: 20px;
                }
                @include tablet {
                    font-size: 16px;
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: $color-text;
                    position: absolute;
                    left: 0;
                    top: 32px;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .25s ease;
                    
                  }
                  &:hover::after{
                    transform: scaleX(1);
                  }
            }
            &_link_active a {
                font-size: 24px;
                position: relative;
                @include desktop {
                    font-size: 20px;
                }
                @include tablet {
                    font-size: 16px;
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: $color-primary;
                    position: absolute;
                    left: 0;
                    top: 32px;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .25s ease;
                    
                  }
                  &:hover::after{
                    transform: scaleX(1);
                  }
            }
        }
    }
}
@keyframes przesun
{
  0% { transform:translateX(30%); }
  100% { transform:translateX(-100%); }
}
.active_link {
    color: $color-primary;
    font-weight: 700;
}