@import "./src/utils/variables";
@import "./src/utils/breakpoints";

.information {
    &_first_container {
        display: flex;
        align-items: center;
        &_title {
            font-size: 28px;
            color: $color-primary;
        }
        &_text {
            color: $color-text;
            margin-left: $spacing-xxl;
            border-bottom: 1px solid black;
            &:hover {
               border-bottom: 2px solid black;
               font-weight: 500;
            }
        }
        &_icon {
            width: 20px;
            height: 20px;
            color: $color-primary;
            padding-right: $spacing-sm;
        }
        
    }
    &_second_container {
        margin-top: $spacing-xxl;
        margin: $spacing-xl $spacing-md;
        background-color: $color-primary;
        padding: 0 $spacing-md;
        color: $color-white;
        position: relative;
        &_title {
            padding-top: $spacing-md;
            padding-bottom: $spacing-lg;
            color: $color-white;
        }
        &_text {
            font-size: 24px;
            padding-right: 20%;
            line-height: 1.5;
            font-weight: 300;
            // padding-bottom: $spacing-xxl;
        }  
        
    }
    .img {
        padding-left: 40%;
        position: relative;
        left: 85px;
        top: 60px;
    }
}
